<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Age in Dog Years</title>
</head>

<body>
</form></div>
        {% if calculation_success == True %}
        <br/>
        <p>If you are {{age_input}} years old, your age in dog years is: {{result}}</p>
        {% endif %}
    </form>
<div><img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.barrons.com%2Farticles%2Fshiba-inu-coin-price-plunge-crypto-whale-51636030374&psig=AOvVaw0suoa-xfS9fbLHKRw8v2d5&ust=1685734687640000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCNDBvZrpov8CFQAAAAAdAAAAABAE" alt="dog"></div>
</body>

</html>