<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Docker</title>
</head>
<body>
    <div class="container">
        <h1>Hello Docker</h1>
        <h3>Please click the button below for a surprise</h3>
    </div>
<div><form action="/surprise" method="post">
    <p align="left"><a href="/surprise" ><button class=grey style="height:75px;width:150px">Surprise</button></a></p>
</form></div>
</body>
</html>